﻿@model Model.LeaveRequest.LeaveRequestModel
@{ ViewData["Title"] = "EditLeaveRequest";
                Layout = "~/Views/Shared/_Layout.cshtml"; }

<div id="content">
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Chi tiết nghỉ phép</h1>

        <div class="form-group"></div>
        <form id="CreatePlace" action="#" method="post">
            <div class="col-lg-12 col-xl-8">
                <input asp-for="Id" type="hidden" />
                <input asp-for="LeaveType" type="hidden" />
                <div class="form-group row">
                    <label class="col-md-12 col-lg-4 label-control">Tên học viên<span class="text-danger">*</span></label>
                    <div class="col-md-12 col-lg-8">
                        <input asp-for="StudentName" class="form-control" type="text" placeholder="Nhập tên học viên" />
                        <span asp-validation-for="StudentName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-12 col-lg-4 label-control">Lớp<span class="text-danger">*</span></label>
                    <div class="col-md-12 col-lg-8">
                        <select asp-for="ClassId" class="form-control listClass" asp-items="@ViewBag.GetListClassForCombo">
                            <option>Chọn...</option>
                        </select>
                        <span asp-validation-for="ClassId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-12 col-lg-4 label-control">Tiêu đề<span class="text-danger">*</span></label>
                    <div class="col-md-12 col-lg-8">
                        <input asp-for="Title" class="form-control" type="text" placeholder="Nhập tiêu đề" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-12 col-lg-4 label-control">Ngày nghỉ phép<span class="text-danger">*</span></label>
                    <div class="col-md-12 col-lg-8">
                        <input asp-for="LeaveDate" class="form-control" type="datetime-local" />
                        <span asp-validation-for="LeaveDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-12 col-lg-4 label-control">Loại nghỉ phép<span class="text-danger">*</span></label>
                    <div class="col-md-12 col-lg-8">
                        <input type="radio" name="fav_LeaveType" id="LateComing" value="1">
                        <label for="LateComing">Late Coming</label>
                        <input type="radio" name="fav_LeaveType" id="EarlyLeave" value="2">
                        <label for="EarlyLeave">Early Leave</label>
                        <input type="radio" name="fav_LeaveType" id="LeaveHaft" value="3">
                        <label for="LateComing">Leave a haft of day</label>
                        <input type="radio" name="fav_LeaveType" id="LeaveOne" value="4">
                        <label for="LeaveOne">Leave one day</label>
                        <span asp-validation-for="LeaveType" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-12 col-lg-4 label-control">Lý do nghỉ phép<span class="text-danger">*</span></label>
                    <div class="col-md-12 col-lg-8">
                        <textarea asp-for="ReasonLeave" class="form-control" type="text"></textarea>
                        <span asp-validation-for="ReasonLeave" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </form>

        <div class="h3 mb-2 row">
            <div class="col-md-12 col-lg-6">
                <a class="btn btn-success btn-icon-split" onclick="SaveLeaveRequest()">
                    <span class="text">Lưu</span>
                </a>
                <a href="@Url.Action("LeaveRequests", "LeaveRequest")" class="btn btn-secondary btn-icon-split">
                    <span class="text">Quay lại</span>
                </a>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function (){
        $(".listClass").select2({
            placeholder: "Chọn...",
            allowClear: true
        });

        var checkLeaveType = $('#LeaveType').val();
        $("input[name=fav_LeaveType][value=" + checkLeaveType + "]").prop('checked', true);
    });

    function SaveLeaveRequest(){
        var formData = new FormData();
        formData.append("Id", $("#Id").val());
        formData.append("StudentName", $("#StudentName").val());
        formData.append("ClassId", $("#ClassId").val());
        formData.append("LeaveDate", $("#LeaveDate").val());
        formData.append("LeaveType", $('input[name="fav_LeaveType"]:checked').val());
        formData.append("ReasonLeave", $("#ReasonLeave").val());
        formData.append("Title", $("#Title").val());
        formData.append("__RequestVerificationToken", _token);
        postAjax('@Url.Action("UpdateLeaveRequest")', formData, function (data) {
            if (data.code == "200") {
                setTimeout(
                    function () {
                        location.href = '/danh-sach-nghi-phep';
                    }, 1000);
            }
        });
    }
</script>
