﻿@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@using fsb.smartcontract.Common
@using Common.Constants
@using Common
@using Model.UserInfo
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>FSB Smart Contract</title>

    <!-- Custom fonts for this template-->
    <link href="~/fonts/fontawesome-free/css/all.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/css/sb-admin-2.css" rel="stylesheet" />
    <link href="~/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <!-- Select2 CSS -->
    <link href="~/vendor/select2/select2.min.css" rel="stylesheet" />
    <!-- Bootstrap core JavaScript-->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <!-- Page level plugins -->
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <!-- Page level custom scripts -->
    <script src="~/js/demo/datatables-demo.js"></script>
    <script src="~/vendor/datatables/dataTables.rowGroup.min.js"></script>
    <!-- Select2 -->
    <script src="~/vendor/select2/select2.min.js"></script>
    <script src="~/js/CommonHelper.js"></script>
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="@Url.Action("Dashboard","Home")">
                <div class="sidebar-brand-text mx-3">Smart Contract</div>
            </a>

            @await Html.PartialAsync("_NavMenu")

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small" id="head-username"></span>
                                <img class="img-profile rounded-circle" src="~/image/ic_user.png">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Đăng xuất
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <form method="POST" action="/" hidden>
                    @Html.AntiForgeryToken()
                </form>
                <div>
                    @RenderBody()
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; 2022. Made by DiuTT2</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Đăng xuất</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Chọn "Đăng xuất" bên dưới nếu bạn đã sẵn sàng kết thúc phiên hiện tại của mình.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Hủy</button>
                    <a class="btn btn-primary" href="@Url.Action("ActionLogout","Account")">Đăng xuất</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal placeholder -->
    <div id="modal-placeholder"></div>

    @*<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/vendor/jquery-easing/jquery.easing.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="~/js/sb-admin-2.js"></script>
    <script>
        var _token = $('input[name="__RequestVerificationToken"]').val();
        $(document).ready(function () {
            $.get('@Url.Action("GetUserInfo", "Account")', function (data) {
                if (data != null) {
                    $('#head-username').text(data.fullName);

                    //var checkUserRoleName = data.userRoleName;
                    //var checkIsReportBudget = data.isReportBudget;
                    //var checkIsUploadBudget = data.isUploadBudget;

                    //$('#check-dashboard').hide();
                    //$('#check-line-departmentplannings').hide();
                    //$('#check-departmentplannings').hide();
                    //$('#check-line-reportdepartmentplanning').hide();
                    //$('#check-reportdepartmentplanning').hide();
                    //$('#check-line-users').hide();
                    //$('#check-users').hide();
                    //$('#check-masterdata').hide();
                    //$('#check-monthPlannings').hide();
                    //$('#check-budgets').hide();
                    //$('#check-reportBudget').hide();

                    //if (checkUserRoleName == "admin") {
                    //    $('#check-dashboard').show();
                    //    $('#check-line-departmentplannings').show();
                    //    $('#check-departmentplannings').show();
                    //    $('#check-line-reportdepartmentplanning').show();
                    //    $('#check-reportdepartmentplanning').show();
                    //    $('#check-line-users').show();
                    //    $('#check-users').show();
                    //    $('#check-masterdata').show();
                    //    $('#check-monthPlannings').show();
                    //    $('#check-budgets').show();
                    //    $('#check-reportBudget').show();
                    //}
                    //if (checkUserRoleName == "accountant_bp") {
                    //    $('#check-dashboard').show();
                    //    $('#check-line-departmentplannings').show();
                    //    $('#check-departmentplannings').show();
                    //}
                    //if (checkUserRoleName == "accountant_ho") {
                    //    $('#check-dashboard').show();
                    //    $('#check-line-departmentplannings').show();
                    //    $('#check-departmentplannings').show();
                    //    $('#check-line-reportdepartmentplanning').show();
                    //    $('#check-reportdepartmentplanning').show();
                    //}
                    //if (checkUserRoleName == "accountant_institute") {
                    //    $('#check-budgets').show();
                    //    $('#check-reportBudget').show();
                    //}

                    //if (checkIsUploadBudget == true) {
                    //    $('#check-budgets').show();
                    //}
                    //if (checkIsReportBudget == true) {
                    //    $('#check-reportBudget').show();
                    //}
                }
            })
        });
    </script>
    @await Component.InvokeAsync("NToastNotify")
</body>

</html>
